.elementor-panel .elementor-element .icon {
    position: relative;
}
.elementor-panel .elementor-element .icon i[class*="eadd-"]::after {
    opacity: 0.5;
    content: '\e860';
    background: transparent;
    font-size: 14px;
    font-family: "eadd";
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
    font-variant: normal;

    padding: 0.2em 0.5em;

    transition: color 0.5s ease;

    position: absolute;
    top: 9px;
    right: 0px;
    z-index: 1;

}
.elementor-panel .elementor-element:hover .icon i[class*="eadd-"]:after {
    opacity: 1;
}
.eadd-ic-right {
    position: absolute;
    right: 20px;
    top: 12px;
    opacity: 0.6;
}
.elementor-control-raw-html .eadd-ic-right {
    top: 0;
}
.eadd-ic-left{
    font-size: 19px;
    margin-right: 3px;
    vertical-align: middle;
}
.elementor-open .eadd-ic-left{
    color: #5bc0de;
}


/* controls (Transformations / Position) */
.e-add-reset-controls {
    position: absolute;
    right: 20px;
    background-color: #fff;
    border-radius: 100px;
    border: none;
    color: #999;
    padding: 2px 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    border: 1px solid #d5dadf;
    cursor: pointer;
}
.control-title-first-transformations,
.control-title-first-position{
    font-weight: 700;
}
.elementor-control-type-slider-transformations,
.elementor-control-field-transformations,
.elementor-control-type-slider-position,
.elementor-control-field-position{
    margin-bottom: 3px;
}
.e-add-icon-heading {
    background-color:rgba(200,200,200,0.2);
    padding: 15px;
    margin: 0 -20px 0;
    display: flex;
    align-items: center;
}
.e-add-icon-heading .fa{
    font-size: 20px;
    margin-right: 8px;
}
/* panel e-add-info-panel */
.elementor-panel .e-add-info-panel h2{
    font-size: 16px;
    font-weight: bold;
}
.e-add-info-panel hr{
    margin: 5px 0;
    border: none;
    border-top: 1px dotted #999;
}
.e-add-info-panel{
    background-color: rgba(200,200,200,0.2);
    padding: 15px;
    border-radius: 10px;
    font-size: 11px;
    line-height: 1.3;
    margin: 0 0 10px;
}

.elementor-panel .elementor-tab-control-e_query a:before,
.elementor-panel .elementor-panel-navigation .elementor-panel-navigation-tab.elementor-tab-control-e_query a:before {
    content: "\e91a";
    /*font-family: FontAwesome, "Font Awesome 5 Free";*/
}